<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Paroisse Catholique dans la région des Laurentides au Canada.">
<meta name="keywords" content="Saint-Sauveur, église">
<meta name="author" content="Fabrique de la Paroisse Saint-Sauveur">
<title>Paroisse Saint-Sauveur</title>
<link rel="shortcut icon" href="@@webRoot/assets/img/favicon.png">
<link rel="stylesheet" href="@@webRoot/assets/css/plugins.css">
<link rel="stylesheet" href="@@webRoot/assets/css/style.css">

<script async src="https://www.googletagmanager.com/gtag/js?id=G-MKQM3LE09Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MKQM3LE09Q');
</script>
