@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
@@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex offcanvas-body">
    <ul class="navbar-nav ms-lg-auto">
      }
        @@if (context.centerLogo) {
      </ul>
      <!-- /.navbar-nav -->
  </div>
  <div class="w-100 order-3 order-lg-2 d-lg-flex offcanvas-body">
    <ul class="navbar-nav me-lg-auto">
      }
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Calendrier</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Horaire des messes</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Activités</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Équipe</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Personnel</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Conseil de fabrique</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Bénévolat</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Sacrements</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Baptême</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Première communion</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Confirmation</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Mariage</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Onction des malades</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Pardon et confession</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Funérailles</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Cimetière</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Concessions</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Colombarium</a></li>
      </ul>
      <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="dropdown">Historique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-bs-toggle="dropdown">Contact</a>
      </li>
    </li>
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
}
@@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}