<div class="widget">
  <h4 class="widget-title mb-3">À propos de la paroisse</h4>
  <p>Située au cœur du village de Saint-Sauveur, la paroisse est au service de la population de Saint-Sauveur et de Piedmont depuis 1854. Au-delà de la belle vieille église, la paroisse est une communauté chrétienne dynamique qui prend plaisir à vous accueillir.
  </p>
</div>
<!-- /.widget -->
<div class="widget">
  <h4 class="widget-title mb-3">Événements à venir</h4>
  <ul class="image-list">
    <li>
      <figure class="rounded"><a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a1.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Magna Mollis Ultricies</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>26 Mar 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"> <a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a2.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Ornare Nullam Risus</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>16 Feb 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"><a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a3.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Euismod Nullam Fusce</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>8 Jan 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"><a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a1.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Magna Mollis Ultricies</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>26 Mar 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"> <a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a2.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Ornare Nullam Risus</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>16 Feb 2022</span></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
  </ul>
  <!-- /.image-list -->
</div>
<!-- /.widget -->